# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.
[include mainsail.cfg]
[include usefull.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_360052001850344D30363620-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100


[stepper_x]
step_pin: !PB13
dir_pin: PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_max: 225
homing_speed: 40
homing_retract_dist: 0


[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
diag_pin: ^PC0     # Set to MCU pin connected to TMC DIAG pin
uart_address: 0
run_current: 0.860
stealthchop_threshold: 180
sense_resistor: 0.150
interpolate: False
driver_SGTHRS: 82



[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 0
position_max: 225
homing_speed: 40
homing_retract_dist: 0


[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
diag_pin: ^PC1      # Set to MCU pin connected to TMC DIAG pin
uart_address: 2
run_current: 0.900
stealthchop_threshold: 180
sense_resistor: 0.150
interpolate: False
driver_SGTHRS: 82



[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_min: -6
position_max: 251
homing_speed: 4

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 40
sense_resistor: 0.150
interpolate: False


[thermistor sovol_thermistor]
temperature1: 25
resistance1: 94162
beta: 4160

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 4.56
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: PC8
sensor_type: sovol_thermistor
sensor_pin: PA0
#control: pid
#pid_kd: 86.991
#pid_kp: 21.479
#pid_ki: 1.326
min_temp: 0
max_temp: 300

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.550
stealthchop_threshold: 60
sense_resistor: 0.150
interpolate: False



[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_kp: 64.440
#pid_ki: 0.773
#pid_kd: 1343.571
min_temp: 0
max_temp: 130


[fan]
pin: PC6

[controller_fan electronic_enclosure_fan]
pin: PB15
idle_timeout: 60

[heater_fan hotend_fan]
pin: PC7
heater: extruder
heater_temp: 50.0


[probe]
pin: PC14
x_offset: 28
y_offset: -20
#z_offset: 0
samples: 2
samples_tolerance: 0.015
samples_tolerance_retries: 5

[safe_z_home]
home_xy_position: 85,135
z_hop: 10
z_hop_speed: 5

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 28, 20
mesh_max: 210, 205
probe_count: 10
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0


[display]
lcd_type: st7920
cs_pin: PB8
sclk_pin: PB9
sid_pin: PD6
encoder_pins: ^PA10, ^PA9
click_pin: ^!PA15

[output_pin beeper]
pin: PB5

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

######################################################################
# 128x64 Full Graphic Creality CR10 / ENDER 3 stockdisplay
######################################################################

# This section is used for a Creality "12864" display with a single
# ribbon cable between the display's EXP3 plug and the
# micro-controller board's EXP1 connector.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.672
#*# pid_ki = 1.505
#*# pid_kd = 78.018
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 68.728
#*# pid_ki = 1.473
#*# pid_kd = 801.537
#*#
#*# [probe]
#*# z_offset = 2.2
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.036250, 0.008125, -0.032500, -0.055000, -0.070000, -0.085625, -0.101250, -0.115625, -0.129375, -0.135625
#*# 	  0.026250, 0.003125, -0.030625, -0.056875, -0.068125, -0.078125, -0.088125, -0.109375, -0.114375, -0.123750
#*# 	  0.022500, 0.001250, -0.036875, -0.063750, -0.076875, -0.090625, -0.102500, -0.115625, -0.126875, -0.139375
#*# 	  0.043750, 0.027500, -0.011875, -0.038750, -0.059375, -0.076250, -0.085000, -0.101250, -0.112500, -0.127500
#*# 	  0.059375, 0.040625, 0.002500, -0.031250, -0.053125, -0.068125, -0.074375, -0.088125, -0.100000, -0.119375
#*# 	  0.050625, 0.030625, -0.006875, -0.043750, -0.065625, -0.078750, -0.080625, -0.091875, -0.113125, -0.130625
#*# 	  0.076875, 0.056250, 0.020625, -0.013750, -0.032500, -0.048750, -0.058125, -0.075000, -0.090000, -0.108125
#*# 	  0.107500, 0.093750, 0.062500, 0.033750, 0.014375, -0.006250, -0.023125, -0.043125, -0.061250, -0.082500
#*# 	  0.149375, 0.140000, 0.109375, 0.081875, 0.060000, 0.035625, 0.016875, -0.008750, -0.039375, -0.053125
#*# 	  0.241875, 0.221250, 0.190625, 0.156250, 0.131875, 0.107500, 0.093125, 0.063750, 0.044375, 0.030625
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 28.0
#*# max_x = 209.97
#*# min_y = 20.0
#*# max_y = 204.95
